<div *ngIf="visibleTable">
  <div class="container-formula">
    <div>
      <label class="style-label">Mostrar formula </label>
      <input type="checkbox" [(ngModel)]="visibleFormula" />
    </div>
    <img *ngIf="visibleFormula"
      class="image-formula"
      src="assets/images/Formula.jpeg"
      alt="image-formula"/>
  </div>
  <div class="container-all-data">
    <div class="container-data">
      <div class="data">
        <div class="style-input">
          <label class="style-label">Vr. Gold Price OZ </label>
          <input type="number" [(ngModel)]="vlGoldPrice" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">TRM </label>
          <input type="number" [(ngModel)]="trm" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Fecha</label>
          <input
            [ngModel]="dateCurrent | date : 'yyyy-MM-dd'"
            (ngModelChange)="dateCurrent = $event"
            type="date" [min]="dateMin"
          />
        </div>
      </div>
      <div class="button">
        <button class="button-save" (click)="calculate()">Guardar</button>
      </div>
    </div>
    <div class="static-table">
      <div class="static-data">
        <div class="style-input">
          <label class="style-label">OZ TY GR </label>
          <input type="number" [(ngModel)]="ozTyGr" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Gramos medalla </label>
          <input type="number" [(ngModel)]="medalGr" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Costos operativos </label>
          <input type="number" [(ngModel)]="utility" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Incremento </label>
          <input type="number" [(ngModel)]="increment" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">IVA </label>
          <input [(ngModel)]="ivaValueConst" required min="0" />
        </div>
      </div>
      <div class="button">
        <button class="button-save" (click)="updateValuesConst()">
          Actualizar
        </button>
      </div>
    </div>
  </div>
  <!-- <div class="filter-date">
    <div class="style-input style-input__gap">
      <label class="style-label">Desde</label>
      <input
        [ngModel]="dateFrom | date : 'yyyy-MM-dd'"
        (ngModelChange)="changeDate($event, 1)"
        type="date" [min]="dateMin"
      />
    </div>
    <div class="style-input style-input__gap">
      <label class="style-label">Hasta</label>
      <input
        [ngModel]="dateTo | date : 'yyyy-MM-dd'"
        (ngModelChange)="changeDate($event, 0)"
        type="date" [min]="dateMin"
      />
    </div>
  </div> -->
  <!-- <div class="message-info" *ngIf="showMessageInfo">
    El rango de fechas que se muestra en un inicio se toma desde un mes antes
    desde la última fecha ingresada
  </div> -->
</div>
