/* Cambiar el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 1px; /* Cambia el ancho de la barra de desplazamiento */
}

/* Cambiar el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cambia el color de fondo de la barra de desplazamiento */
}

/* Cambiar el color de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #99ccff; /* Cambia el color de la barra de desplazamiento */
  border-radius: 5px; 
}

/* Cambiar el color del fondo al pasar el mouse por encima de la barra de desplazamiento */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cambia el color de fondo al pasar el mouse por encima de la barra de desplazamiento */
}

.button-save {
  margin-top: 2rem;
  background-color: #233016;
  border: none;
  color: #f4cc25;
  padding: 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.button {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
}

.table {
  border: black 1px solid;
  margin-top: 1rem;
}

.table-title,
.table-info {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.table-title span,
.table-info span {
  padding: 0.3rem 0;
  border-bottom: black 1px solid;
  border-right: black 1px solid;
  text-align: center;
}

.table-title span {
  border-top: black 1px solid;
  font-weight: bold;
}

.table-title {
  border-bottom: black 1px solid;
}

.table-border {
  border-left: black 1px solid;
}

.full-color {
  background: #d0d0d3;
}

.without-color {
  background: #f5de85;
}

.logo {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.law{
  display: flex;
  justify-content: space-between;
}

.container-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.image-formula{
  width: 20rem;
  height: 9rem;
}

.image-formula-law{
  width: 10rem;
  height: 4rem;
}

.container-data,
.static-table {
  padding: 1.5rem;
  border: 1px solid;
  border-radius: 5px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.data, 
.static-data {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.static-data {
  grid-template-columns: 1fr 1fr;
}

.container-all-data {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 1rem;
}

.style-input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.style-input input{
  border: 1px solid var(--neutral-500, #E0E0E0);
}

.container-formula {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.filter-date{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;  
}

@media(min-width:1100px){
  .filter-date {
    gap: 8rem;
  }
}

@media(max-width:375px){
  .style-input {
    flex-direction: column;
  }
}

@media(max-width:768px){
  .container-data,
  .static-table {
    padding: 1rem; 
  }
  .button {
    padding-top: 1rem;
  }
  .container-all-data {
    flex-direction: column;
  }  
}

@media(max-width:1100px){
  .static-data {
    grid-template-columns: 1fr;
  }
}

.increment-table{
  padding: 2rem;
  border: 1px solid;
  border-radius: 5px;
}

.style-label {
  font-weight: 600;
  display: inline-block;
  width: 135px;
}

.style-input__gap{
  gap: 1rem;
}

.message-info{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.show-scroll{
  overflow-y: scroll;
  height: 270px;
}

.hide-scroll{
  overflow-y: hidden;
}
