<select [(ngModel)]="selectedValue">
  <option [ngValue] ="0">Mostrar tabla</option>
  <option [ngValue] ="1">Mostrar tabla completa</option>
  <option [ngValue] ="2">Mostrar opciones</option>
  <option [ngValue] ="3">Ocultar opciones</option>
</select> 
<div *ngIf="selectedValue == 0">
  <div class="container-formula">
    <div>
      <label class="style-label">Mostrar formula </label>
      <input type="checkbox" [(ngModel)]="visibleFormula" />
    </div>
    <img *ngIf="visibleFormula"
      class="image-formula"
      src="assets/images/Formula.jpeg"
      alt="image-formula"/>
  </div>
  <div class="container-all-data">
    <div class="container-data">
      <div class="data">
        <div class="style-input">
          <label class="style-label">Vr. Gold Price OZ </label>
          <input type="number" [(ngModel)]="vlGoldPrice" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">TRM </label>
          <input type="number" [(ngModel)]="trm" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Fecha</label>
          <input
            [ngModel]="dateCurrent | date : 'yyyy-MM-dd'"
            (ngModelChange)="dateCurrent = $event"
            type="date" [min]="dateMin"
          />
        </div>
      </div>
      <div class="button">
        <button class="button-save" (click)="calculate()">Guardar</button>
      </div>
    </div>
    <div class="static-table">
      <div class="static-data">
        <div class="style-input">
          <label class="style-label">OZ TY GR </label>
          <input type="number" [(ngModel)]="ozTyGr" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Gramos medalla </label>
          <input type="number" [(ngModel)]="medalGr" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Costos operativos </label>
          <input type="number" [(ngModel)]="utility" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">Incremento </label>
          <input type="number" [(ngModel)]="increment" required min="0" />
        </div>
        <div class="style-input">
          <label class="style-label">IVA </label>
          <input [(ngModel)]="ivaValueConst" required min="0" />
        </div>
      </div>
      <div class="button">
        <button class="button-save" (click)="updateValuesConst()">
          Actualizar
        </button>
      </div>
    </div>
  </div>
  <div class="filter-date">
    <div class="style-input style-input__gap">
      <label class="style-label">Desde</label>
      <input
        [ngModel]="dateFrom | date : 'yyyy-MM-dd'"
        (ngModelChange)="changeDate($event, 1)"
        type="date" [min]="dateMin"
      />
    </div>
    <div class="style-input style-input__gap">
      <label class="style-label">Hasta</label>
      <input
        [ngModel]="dateTo | date : 'yyyy-MM-dd'"
        (ngModelChange)="changeDate($event, 0)"
        type="date" [min]="dateMin"
      />
    </div>
    <!-- <div class="div-imagen">
      <img class="warning-info"
                src="assets/images/trash.png"
                alt="Delete register"
              />
    </div> -->
  </div>
  <!-- <div class="message-info" *ngIf="showMessageInfo">
    El rango de fechas que se muestra en un inicio se toma desde un mes antes
    desde la última fecha ingresada
  </div> -->
</div>
<div class="container-title-table">
  <div class="table-tittle">
    MATRIZ DE VENTA
  </div>
</div>
<div class="table" *ngIf="getDataFirebase && getDataFirebaseFilter.length > 0">
  <div [ngClass]="selectedValue == 0 ? 'table-title-full' : 'table-title'">
    <span class="table-border without-color">Fecha</span>
    <span class="without-color">Vr. Gold Price OZ</span>
    <span class="without-color">TRM</span>
    <span class="without-color" *ngIf="selectedValue == 0">Vr Pesos OZ</span>
    <span class="without-color" *ngIf="selectedValue == 0">OZ TY GR</span>
    <span class="without-color" *ngIf="selectedValue == 0">Valor Gr Oro puro</span>
    <span class="without-color">Gramos medalla</span>
    <span class="without-color" *ngIf="selectedValue == 0">Valor material</span>
    <span class="without-color" *ngIf="selectedValue == 0">Costos operativos</span>
    <span class="without-color" *ngIf="selectedValue == 0">Base</span>
    <span class="without-color">IVA</span>
    <span class="without-color" *ngIf="selectedValue == 0">Vr. IVA</span>
    <span class="without-color" *ngIf="selectedValue == 0">Incremento</span>
    <span class="without-color" *ngIf="selectedValue == 0">Incremento Iva</span>
    <span class="without-color" *ngIf="selectedValue == 0">Valor Medalla</span>
    <span class="without-color">Valor medalla final</span>
    <span class="without-color">Acciones</span>
  </div>
  <!-- selectedValue == 0 ? 'table-info-full' : 'table-info', -->
  <!-- [ngClass]="getDataFirebaseFilter.length > 8 ? 'show-scroll' : 'hide-scroll' " -->
  <div  >
    <div [ngClass]="{'show-scroll' : getDataFirebaseFilter.length > 8, 'hide-scroll' : getDataFirebaseFilter.length <= 7, 'table-info-full' : selectedValue == 0, 'table-info' : selectedValue != 0}" *ngFor=" let elementDataBase of getDataFirebaseFilter; index as i; let isEven = even; let isOdd = odd">
      <span class="table-border" [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">{{
        elementDataBase.dateCurrent | date : "yyyy-MM-dd"
      }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">{{ elementDataBase.vlGoldPrice.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">{{ elementDataBase.trm.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.vlCopOZ.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.ozTyGr.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.vlGrGold.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">{{ elementDataBase.medalGr.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.materialVl.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.utility.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.base.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">{{ elementDataBase.ivaValueConst.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.ivaVl.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.increment.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.incrementIva.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }" *ngIf="selectedValue == 0">{{ elementDataBase.medalVl.toLocaleString("en-US") }}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">${{
         elementDataBase.vlMedalIncrement.toLocaleString("en-US")}}</span>
      <span [ngClass]="{ 'full-color': isEven, 'without-color': isOdd }">
        <div class="container-buttons">
          <!-- <div (click)="editRegister(elementDataBase)">
          <img
            class="logo"
            src="./../../../assets/images/edit.png"
            alt="Edit register"
          />
        </div> -->
          <div (click)="deleteRegister(elementDataBase)" *ngIf="showTrash(i)">
            <img
              class="logo"
              src="assets/images/trash.png"
              alt="Delete register"
            />
          </div>
        </div>
      </span>
    </div>
  </div>
</div> 