<div class="header-container">
  <img src="assets/images/A&Metals.png" title="A & Metals" />
  <div class="title-container"> 
    <h1 class="title-container__main">MEDALLA DE ARTE Y CAPITALIZACIÓN</h1>  
    <h2 class="title-container__subtitle">Transformando vidas</h2>                    
  </div>            
</div>  
<div class="container">
  <app-calculate
    [valueConst]="valueConst"
    [getDataFirebase]="getDataFirebase"
    (emitVaues)="calculate($event)"
    (deleteElement)="deleteRegister($event)"           
    (emitValuesConst)="addValueConst($event)" 
    (emitupdateValuesConst)="updateValueConst($event)"  
    (getDataFirebaseFilterEmit)="getDataFirebaseFilter($event)">
  </app-calculate>
  <!-- <app-spinner></app-spinner>
  <app-data-graph 
    [getDataFirebase]="getDataFirebase" [getDataFirebaseFilter] = "dataFirebaseFilter">
  </app-data-graph>
  <div class="no-data" *ngIf="(getDataFirebase && getDataFirebase.length === 0) || (dataFirebaseFilter && dataFirebaseFilter.length === 0)">
    <img class = "no-dataMedal" src="assets/images/NoData.png" alt="Image no data">
    <span *ngIf="(getDataFirebase && getDataFirebase.length > 0 && dataFirebaseFilter && dataFirebaseFilter.length === 0)">
      No hay información dentro del rango seleccionado
    </span>
  </div> -->
</div>
